:root{
  --blue1: #4169E1;
  --blue2: #4169E1;
  --green2: #41E169;
  --orange: #E1B941;
  --pink: #E141B9;
  --gray: #454545;
  --lightgray: #d7d7d7;
  --red: #FF0038;
  --lightpurple: #94B0DA;
  --white: #fff;
  --black: #000;

}

/* reset  */
body p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  font-family: "rubik", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-style: normal; */
}

li {
  list-style-type : none;
}

/* base styles  */

/* font styles  */
@font-face {
  font-family: "rubik";
  src: url("font/Rubik/Rubik-VariableFont_wght.ttf");
}
h1,h2,h3,h4{
  font-family:"rubik", serif;
  font-weight: normal;
  color: var(--blue2);
}

p,li {
  color:var(--green2);
  font-size: 16px;
}

p {
  color: var(--gray);
}

h1,h3 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.8em;
  text-align: center;
}

h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 2em;
}


/* starting from mobile so these are all base styles  */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  line-height: 1.6em;

}



#container{
  /* height: 100vh; */
  width: 90%;
  height: 100vh;
  background-color: #FF0038;
  margin: 0 auto;
  
}





.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--blue2);
  /* height: 700px; */
  width: 100%;
 }
.site-logo {
  width: 50%;
}

body { 
   background-color: #fff; 
  }

  .nav {
    
    height: 200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color:var(--blue2);
    font-size: 30px;
    margin-bottom: 10px;
  }

  .nav a {
    color: var(--white);
    font-size: 30px;
  }

  .nav a:hover{
    color: var(--green2);
    transition: all .5s;
  }

  

  .nav li {
    margin: 15px;
  }

  #container{
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    height: auto;
  }

  

  

.top-title{
    font-size: 40px;
    color:var(--blue1);
    margin-top: 20px;
  }

  .top-title_ea{
    font-size: 25px;
    color: var(--green2);
    display: block;
    margin-top: 10px;
    
  }


  .intro h3{
    padding: 10px;
  }

  /* all images and containers  */
  .responsive{
    width: 100%;
    height: auto;
  }

  .nice-to-meet-you { 
    width: 100%; 
  }

  .top-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .teaching {
    text-align: center;
  }

  span{
    padding-right: 7px;
  }

  .my-skills{
    margin-top: 25px;
  }

  .skill-list {
    color: var(--blue2);
    margin-bottom: 3px;
  }

  .divider{
    text-align: center;
    margin: 60px 0;
  }

  

  /* to return to top  */
  .button{
    background: none;
    color: var(--blue1);
    border: 2px solid var(--blue2);
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow:1px 2px 3px rgba(0,0,0,0.6) ;
    display: block; 
    padding: 5px 3px;
    width: 35%;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin: 10px 0 10px 10px;

    
  }

  .button:hover{
    color:var(--white);
    background: var(--green2);
    transition: all .5s;
  }

  .button a{
    font-size: 15px;
  }

  .button:hover a{
    color:var(--white);
    
  }

  .para-style{
    padding: .5em 1em 2em 1em;
    color: #777777;
  }

  .icon {
    padding-left: 15px;
  }


  

  .ai-art{
    /* height: 400px;  */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
  }

  

  .sc-link{
    /* button effects  */
    
    outline: none;
    border-radius: 5px;
    background-color: var(--blue1);
    
  }

  .sc-link a {
    font-size: 30px;
    color: var(--white);
    padding: 10px;
   
    
  }

  .sc-link a:hover{
    color: var(--green2);
    transition: all 1s;
  }

  /* about me  */
  .center-vid{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }

  .about_heading{
    --animation-duration: 3s;
  }

  /* classes  */
  .classpic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }




  /* contact  */

  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-title {
    color: var(--green2);
    font-size: 50px;
    background-color: var(--black);
    padding: 20px;
    
  }

  .contact-me-by{
    color: var(--gray);
    text-align: center;
  }
 
  .mail{
    color: #454545;
    text-align: center;
    /* border: 3px solid var(--blue1); */
    border-radius: 5px;
  }

  .mail a{
    font-size: 1.4em;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    height: 100px;
  }
  
  .footer_copyright{
    color: var(--white);

  }

  /* a few queries for mobile  */
  @media only screen and (min-width: 400px) and (max-width: 768px) {
    ai-art .hide {
      display: none;
    }

    .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .center-vid{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
    }

    span{
      padding-right: 7px;
    }

    .border{
      text-align: center;
      margin: 40px auto;
      /* width: 80%; */
    }
  
    .skill-list {
      color: var(--blue2);
      margin-bottom: 3px;
    }

    .button{
      background: none;
      color: var(--blue1);
      border: 2px solid var(--blue2);
      border-radius: 8px;
      text-transform: uppercase;
      box-shadow:1px 2px 3px rgba(0,0,0,0.6) ;
      display: block; 
      padding: 5px 3px;
      width: 35%;
      text-align: center;
      font-size: 20px;
      margin-left: 20px;
      margin: 10px 0 10px 10px;
  
      
    }
  


  }


/* Tablet Styles (optional) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablet specific styles here */
  body { font-size: 16px; 
         background-color: var(--white);
  }
  .image { width: 70%; }

  #container{
    width: 80%;
    background-color: #fff;
    height: auto;
  }

  .my-skills .my-skills_li{
    margin-left: 90px;
   }

   .classpic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  
}

@media only screen and (min-width: 1025px) and (max-width: 2000px) {
  /* Tablet specific styles here */
  body { font-size: 16px; 
         background-color: var(--white);
  }
  .image { width: 80%; }

  .classpic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  #container{
    width: 75%;
    background-color: #fff;
    height: auto;
  }

  
}








/* mobile styles  */

/* small tablet styles  */
/* @media screen and (min-width: 620px){
  
} */



/* large tablets and laptops  */
/* @media screen and (min-width: 960px){
  body{
    font-size: 18px;
  }
} */


/* desktop styles */
/* @media screen and (min-width: 1200px){
  body{
    font-size: 20px;
  }
} */