:root{
  --blue1: #4169E1;
  --blue2: #4169E1;
  --green2: #41E169;
  --orange: #E1B941;
  --pink: #E141B9;
  --gray: #454545;
  --lightgray: #777777;
  --red: #FF0038;
  --lightpurple: #94B0DA;

}

/* reset  */
body p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  font-family: "rubik", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-style: normal; */
}

li {
  list-style-type : none;
}

/* base styles  */

/* font styles  */
@font-face {
  font-family: "rubik";
  src: url("font/Rubik/Rubik-VariableFont_wght.ttf");
}
h1,h2,h3,h4{
  font-family:"rubik", serif;
  font-weight: normal;
  color: var(--blue2);
}

p,a,li {
  color:var(--green2);
}

h1,h3 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}




body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  /* color: var(--orange);   */
  background-color: green;  
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 16px;
  line-height: 2em;

}



#container{
  /* height: 100vh; */
  width: 90%;
  height: 100vh;
  background-color: #FF0038;
  margin: 0 auto;
  
}



.top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue2);
  
  width: 100%;
  

}
.site-logo {
  width: 50%;
}






/* Mobile Styles */
@media only screen and (max-width: 767px) {
  /* Mobile specific styles here */
  body { font-size: 14px; 
         background-color: var(--lightpurple); 
  }

  #container{
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
  }

  .top-title{
    font-size: 40px;
    color:var(--blue1);
  }
  .top-title_ea{
    font-size: 25px;
    color: var(--green2);
  }

  .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  .intro h3{
    padding: 10px;
  }

  .responsive{
    width: 100%;
  height: auto;
  }

  .nice-to-meet-you { 
    width: 100%; 
  }
  .top-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav {
    /* position:sticky; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:var(--blue2);
    font-size: 20px;
  }

  .nav a{
    color: #fff;
  }

  .para-style{
    padding: 1em;
    color: #777777;
  }

  .ai-art{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
 
  
  

  
}

/* Tablet Styles (optional) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Tablet specific styles here */
  body { font-size: 16px; 
         background-color: var(--green2);
  }
  .image { width: 70%; }

  #container{
    width: 95%;
    background-color: #fff;
    height: 100%;
  }

  
}



.button{
  background: none;
  border: 2px solid var(--blue2);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow:1px 2px 3px rgba(0,0,0,0.6) ;
  display: inline;
}
.button:hover{
  color:var(--orange);
  background: var(--green2);
}




/* mobile styles  */

/* small tablet styles  */
/* @media screen and (min-width: 620px){
  
} */



/* large tablets and laptops  */
/* @media screen and (min-width: 960px){
  body{
    font-size: 18px;
  }
} */


/* desktop styles */
/* @media screen and (min-width: 1200px){
  body{
    font-size: 20px;
  }
} */